# Remove some folders from the build output
out/**
node_modules/**

# Codebase files
src/**
**/*.map

# Example projects
example/**

# Marketing images for vscode marketplace
promo_images/**

# Development files and folders
.devcontainer
.github
.husky
.vscodeignore
.gitignore
.vscode/**
.vscode-test/**
esbuild.js

# Typescript files
@types
tsconfig.json

# Test files
test/**
