# Remove some folders from the output
out/test/**
out/example/**

# Codebase files
src/**
**/*.map

# Example projects
example/**

# Marketing images for vscode marketplace
promo_images/**

# Development files and folders
.devcontainer
.github
.husky
.vscodeignore
.gitignore
.vscode/**
.vscode-test/**

# Typescript files
@types
tsconfig.json

# Test files
test/**
